@charset "utf-8";
*{
    margin: 0 auto ;padding: 0%;
    text-decoration: none;
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
    display: block;
}

body{
    width: 1200px;
    height: 700px;
    background-color: #fff;
}

.top{
    width: 1200px;
    height: 100px;
}
.logo{
    width: 200px;
    height: 100px;
    float: left;
}
.menu{
    width: 1000px;
    height: 100px;
    float: left;
    position: relative;
    background-color: #ff0000;
}
.bgmenu{
    width: 1200px;
    height: 150px;
    background-color: #b8d9ff;
    position: absolute;
    top: 100px;
    left: -200px;
    display: none;
}
.main{
    width: 600px;
    position: absolute;    
    top: 60px;
    left: 380px;
}
.main>li{
    float: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #62abff;
}
.main>li>a:hover{
    background-color: #335377;
    color: hsl(0, 0%, 100%);
}
.sub>li>a:hover{
    background-color: #335377;
    color: hsl(0, 0%, 100%);
}
.sub>li{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #b8d9ff;
}
.sub{
    display: none;
}
.imas{
    width: 1200px;
    height: 300px;
}
.gal{
    width: 400px;
    height: 200px;
    float: left;
}
.benner{
    width: 400px;
    height: 200px;
    float: left;
}
.quick{
    width: 400px;
    height: 200px;
    float: left;
}
.bottom{
    width: 1200px;
    height: 100px;
    float: left;
}
.logo2{
    width: 200px;
    height: 100px;
    float: left;
}
.bori{
    width: 1000px;
    height: 100px;
    float: left;
}
.bomenu{
    width: 1000px;
    height: 50px;

}
.copy{
    width: 1000px;
    height: 50px;
}